<header id="mainHeader" style=" border: red; border-width: 1px; border-style: solid;">
    <a href="/" title="home" class="logo">
        <!-- I need this div because IE is an affront to mankind-->
        <div>
            <h1>Explore California</h1>
        </div>
    </a>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #b3b3b3;">
      <!--Serves as the Menu Expander Button, when screen is collased small enough-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" style="color: #3c6b92;">
              Tours
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="/tours.htm" title="Our tours">All Tours</a></li>
                <li class="dropdown-item"><a href="/tours.htm" title="find tours">Tours by Activity</a></li>
                <li class="dropdown-item"><a href="/tours.htm" title="find tours">Tours by Region</a></li>
                <li class="dropdown-item"><a href="/tours.htm" title="find tours">Tour Finder</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mission.htm" title="What we believe" style="color: #3c6b92;">Mission</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="resources.htm" title="planning resources" style="color: #3c6b92;">Resources</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="resources/faq.htm" title="Got questions?">Tour FAQs</a></li>
              <li class="dropdown-item"><a href="resources/additional_resources.htm" title="additional resources">Tour Information</a></li>
              <li class="dropdown-item"><a href="resources/terms.htm" title="terms and conditions">Site Terms</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="explorers.htm" title="Our community" style="color: #3c6b92;">Explorers</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="explorers/join.htm" title="join our community">Join the Explorers</a></li>
              <li class="dropdown-item">
                <!-- FIX THIS, such that it uses angular routes
                    <li><a href="@Url.Action("Index","Blog")" title="read our blog!">Read our Blog</a></li>
                    -->
              </li>
              <li class="dropdown-item"><a href="explorers/gallery.htm" title="contributor photos">Tour Photos</a></li>
              <li class="dropdown-item"><a href="_video/EC_podcast_full version.mov" title="check out our podcast">Video podcast</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle last" href="contact.htm" title="contact us" data-toggle="dropdown" style="color: #3c6b92;">Contact</a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="support.htm" title="need help?">Support</a></li>
            </ul>
          </li>
          <li class="nav-item">
              <!-- Finish implementing this in Angular
                @if (User.Identity.IsAuthenticated)
                {
                    <form id="logout" action="@Url.Action("Logout", "Account")" method="post">
                        <a>
                            Logout
                            <br />
                            <span class="tagline">@User.Identity.Name</span>
                        </a>
                    </form>
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")" title="Log In" class="last">Login</a>
                }
              -->
            </li>
        </ul>
      </div>
    </nav>
</header>
