<div class="container-fluid" style="padding-left: 40px; padding-right: 40px;">
    <app-page-header ></app-page-header>
    <section id="actionCall"></section>
    <div class="row" style="height: 500px;">
      <div class="col-3" style="height: 100%; border: red; border-width: 1px; border-style: solid;">
        <!--Menu Special Goes Here-->
        <app-monthly-specials></app-monthly-specials>
      </div>
      <div class="col-9" style="height: 100%; border: blue; border-width: 1px; border-style: solid; overflow: auto;">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-page-bottom ></app-page-bottom>
</div>


