<footer class="row">
  <section id="quickLinks" class="col-md-4">
      <h1>Quick Nav</h1>
      <ul id="quickNav">
          <li><a href="/" title="Our home page">Home</a></li>
          <li><a href="/tours.htm" title="Explore our tours">Tours</a></li>
          <li><a href="mission.htm" title="What we think">Mission</a></li>
          <li><a href="resources.htm" title="Guidance and planning">Resources</a></li>
          <li><a href="explorers.htm" title="Join our community">Explorers</a></li>
          <li><a href="contact.htm" title="Contact and support">Contact</a></li>
      </ul>
  </section>
  <section id="footerResources" class="col-md-4">
      <h1>Resources</h1>
      <ul id="quickNav">
          <li><a href="resources/faq.htm" title="Our home page">FAQ</a></li>
          <li><a href="support.htm" title="Need help?">Support</a></li>
          <li><a href="resources/legal.htm" title="The fine print">Legal</a></li>
          <li><a href="login.htm">Login</a></li>
      </ul>
  </section>
  <section id="companyInfo" class="col-md-4">
      <h1>Contact</h1>
      <h2>Explore California</h2>
      <p>
          5605 Nota Street<br />
          Ventura, CA 93003
      </p>
      <p>866.555.4310<br />866.555.4315 <em>(24 hour support)</em></p>
  </section>
</footer>
