<footer class="row" style="background-color: #e1d8b9; border: green; border-width: 1px; border-style: solid;">
  <section id="quickLinks" class="col-md-4">
      <h4 class="font-weight-bold" style="color: #3c6b92;">Quick Nav</h4>
      <ul class="list-inline" id="quickNav" style="list-style-type: none;">
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="/" title="Our home page">Home</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="/tours.htm" title="Explore our tours">Tours</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="mission.htm" title="What we think">Mission</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="resources.htm" title="Guidance and planning">Resources</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="explorers.htm" title="Join our community">Explorers</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="contact.htm" title="Contact and support">Contact</a></li>
      </ul>
  </section>
  <section id="footerResources" class="col-md-4">
      <h4 class="font-weight-bold" style="color: #3c6b92;">Resources</h4>
      <ul class="list-inline" id="quickNav" style="list-style-type: none;">
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="resources/faq.htm" title="Our home page">FAQ</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="support.htm" title="Need help?">Support</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="resources/legal.htm" title="The fine print">Legal</a></li>
          <li><a class="text-uppercase" style="color: rgb(126, 125, 125);" href="login.htm">Login</a></li>
      </ul>
  </section>
  <section id="companyInfo" class="col-md-4">
      <h4 class="font-weight-bold" style="color: #3c6b92;">Contact</h4>
      <h5>Explore California</h5>
      <p>
          5605 Nota Street<br />
          Ventura, CA 93003
      </p>
      <p>866.555.4310<br />866.555.4315 <em>(24 hour support)</em></p>
  </section>
</footer>
